* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --var-color-header: white;
    --background-color: #0A192F;
    --font-size: 0.9rem;
    --background-color-forei: #102e5b;
}

:root {
    --var-line-height: 1.5rem;
}

:root {
    --var-padding-header: 0 3rem
}

.container {
    width: 100%;
    margin: 0 auto;
}

html {
    font-size: 100%;
}

main {
    width: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1450px;
}

.container__header {
    position: sticky;
    top: 0;
    z-index: 3;
}

body {
    overflow-x: hidden;
    background-color: #F3F3F3;

}

header,
footer {
    width: 100vw;
    background-color: var(--background-color);
    white-space: nowrap;
    padding: 0 1.5rem;
}

header,
footer,
main {
    min-width: 320px;
}

.container__header-box-main,
.container__header-adress,
.container__header-cart-list,
.container__header-cart__shop,
.container__header-user {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__header-adress:hover,
.container__header-cart-list:hover,
.container__header-cart__shop:hover,
.container__header-user:hover {
    border: 1px solid white;
}

/* bố cục sản phẩn */
.container__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 95vw;
    padding-top: 20rem;
}



.container__main-product {
    background-color: white;
    height: 20rem;
    max-height: 20rem;
    min-height: 5rem;

}

.container__main-product-full {
    grid-column: span 4;
    max-height: 15rem;
    height: 20rem;
    background-color: white;
    border: 1px solid black;
}

.container__main-product-full,
.container__main-product {
    width: 100%;
    z-index: 1;
}

@media(max-width:968px) {
    .container__main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        z-index: 1;
        margin: auto;
        padding-top: 10rem;
    }

    .container__main-product {
        background-color: white;
        max-height: 10rem;
    }

    .container__main-product-full {
        grid-column: span 4;
        background-color: white;
        border: 1px solid black;
        max-height: 5rem;
    }

    .container__main-product-full,
    .container__main-product {
        width: 100%;
        z-index: 2;
    }

}

.container__footer-content-first {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    color: white;
    padding-bottom: 1.5rem;
}

.contaier__footer-content-row {
    white-space: normal;
    word-break: break-word;
}

footer {
    padding: 2rem;
}

@media (max-width:920px) {
    .container__footer-content-first {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        color: white;
        padding-bottom: 1.5rem;
    }
}

@media (max-width:720px) {
    .container__footer-content-first {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        color: white;
        padding-bottom: 1.5rem;
    }
}